* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}
.container {
    min-height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../media/background_attraction.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(21, 32, 43);
    z-index: 10;
}
.logo {
    height: 100%;
    width: auto;
    display: block;
    box-sizing: border-box;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav {
    height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
}
nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
nav ul li a:hover {
    color: #ff7a59;
    border: 1px solid #ff7a59;
    background:#fff;
}
nav h2 {
    width: 7em;
}
nav a {
    text-decoration: none;
}
.text_box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box h1 {
    font-size: 60px;
}

/* start of main content */

.main_content {
    background: rgb(21, 32, 43);
}
.kyoto_content {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}
.kyoto_title {
    font-size: 32px;
    font-weight: 700;
    color: #e5eaee;
}
.kyoto_flexbox {
    display: flex;
    flex-wrap: wrap;
}
.kyoto_box {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin-top: 30px;
    width: calc(22% + 6.3px);
    height: 325px;
    margin-right: 20px;
    border: 2px solid rgba(255, 255, 255, 0.39);
}
.central_kyoto_img {
    position: relative;
}
.central_kyoto_img img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 100%;
    height: calc(100% + 10px);
}
.spot_rank {
    font-size: 1.2em;
    width: 1.85em;
    height: 1.85em;
    line-height: 1.85em;
    bottom: -0.8rem;
    left: 1rem;
    position: absolute;
    text-align: center;
    font-weight: 500;
    background-color: #fff;
    color: #ff3434;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgb(45 43 43 / 30%);
}
.central_kyoto_txt {
    margin: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}
.central_kyoto_txt h1 {
    font-size: 18px;
    color: #e5eaee;
    display: inline-block;
    font-weight: 500;
}
.kyoto_box p {
    color: #e5eaee;
    font-size: 16px;
    display: inline-block;
    font-weight: 400;
    padding-top: 5px;
}

/* star ratings */

.user_ratings {
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.ratings  {
    position: relative;
    height: 100%;
    background-color: #e5eaee;
    width: 100.28px;
}
.ratings img {
    position: absolute;
    height: 100%;
    z-index: 2;
}
.progress_bar {
    position: absolute;
    background-color: orange;
    height: 100%;
    z-index: 1;
}
.user_ratings_txt {
    color: #e5eaee;
    font-size: 17px;
    font-weight: 500;
    padding-right: 5px;
}
img.place_visits {
    padding-left: 10px;
    width: 20px;
    height: 22px;
}
.visits_txt {
    color: #e5eaee;
    font-size: 17px;
    font-weight: 400;
    padding-left: 5px;
}
.footer {
    margin-top: 30px;
    opacity: 0.8;
}
.footer_text {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    color: #e5eaee;
    padding-top: 10px; 
    text-align: center;
}

.footer_text h1 {
    font-size: 17px;
    font-weight: 500;
}
.footer_text p {
    font-size: 14px;
    font-weight: 400;
}
.footer_text a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: cornflowerblue;
} 
.footer_column{
    display: flex;
    justify-content: center;
}
.footer_name{
    padding: 25px;
}
.footer_text h4 {
    font-size: 15px;
    font-weight: 500;
}
.icon{
    text-align: center;
    padding-bottom: 20px;
}
.footer_logo{
    position: relative;
    max-height: 75px;
    max-width: 75px;
}
.footer .icon h4{
    text-decoration: none;
    font-weight: 500;
}

/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
    .spot_rank {
        bottom: -0.8em;
    }
    .central_kyoto_txt {
        padding-top: 0;
    }
    .central_kyoto_img img {
        width: 100%;
        height: 100%;
    }
    .kyoto_box {
        height: 350px;
    }
    .user_ratings {
        margin-top: auto;
        margin-bottom: 10px;
    }
    .ratings {
        width: 104.84px;
    }
    .central_kyoto_txt h1 {
        font-size: 19px;
    }
    .central_kyoto_txt p {
        font-size: 17px;
    }
}