* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}
.container {
    min-height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../media/background_specialities.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(21, 32, 43);
    z-index: 10;
}
.logo {
    height: 100%;
    width: auto;
    display: block;
    box-sizing: border-box;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav {
    height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
}
nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
nav ul li a:hover {
    color: #ff7a59;
    border: 1px solid #ff7a59;
    background:#fff;
}
nav h2 {
    width: 7em;
}
nav a {
    text-decoration: none;
}
.text_box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box h1 {
    font-size: 60px;
}
.flex-container {
    display:flex;
    align-items: center;
    top: 50%;
    left: 25%;
    justify-content: space-around;

}
.item {
    max-width: 350px;
    max-height: 400px;
    margin: 10px;
    border: 3px solid black;
    background-color: lightskyblue;
    display: block;
}
.image {
    width: 80%;
    height:60%;
    position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.image_specialties {
    max-width: 45%;
    max-height:45%;
    position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
}
.image_text_specialties {
    color: black;
    margin: 10px;
    display: block;
    position: center;
}
.frame {
    min-height: 30vh;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    color: black;
    text-align: center;
}

/* start of main content */

.main_content {
    background: rgb(21, 32, 43);
    text-align: justify;
}
.local_specialties_text {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}
.local_specialties_text h1 {
    color: #e5eaee;
    font-weight: 700;
}
.local_specialties {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}
.specialties_box {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    width: calc(50% - 25px);
    height: 260px;
    padding-right: 15px;
    margin-right: 20px;
    border-bottom: 1px solid #dcdcdc;
    overflow: hidden;
}
.specialties_box:nth-child(2n) {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    width: calc(50% - 25px);
    margin: 0 0 0 0;
    padding-right: 15px;
    height: 260px;
    border-bottom: 1px solid #dcdcdc;
    overflow: hidden;
}
.specialties_img img {
    width: 142px;
    height: 230px;
    border-radius: 5px;
}
.specialties_txt {
    padding-left: 24px;
}
.specialties_txt h2 {
    font-size: 20px;
    font-weight: 500px;
    color: #e5eaee;
    padding-bottom: 15px;
}
.specialties_txt p {
    color: #e5eaee;
    font-size: 17px;
    text-align: justify;
}
.footer {
    margin-top: 30px;
    opacity: 0.8;
}
.footer_text {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    color: #e5eaee;
    padding-top: 10px; 
    text-align: center;
}

.footer_text h1 {
    font-size: 17px;
    font-weight: 500;
}
.footer_text p {
    font-size: 14px;
    font-weight: 400;
}
.footer_text a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: cornflowerblue;
} 
.footer_column{
    display: flex;
    justify-content: center;
}
.footer_name{
    padding: 25px;
}
.footer_text h4 {
    font-size: 15px;
    font-weight: 500;
}
.icon{
    text-align: center;
    padding-bottom: 20px;
}
.footer_logo{
    position: relative;
    max-height: 75px;
    max-width: 75px;
}
.footer .icon h4{
    text-decoration: none;
    font-weight: 500;
}