* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}

/* Start of homepage */
.container {
    min-height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../media/background_img.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(21, 32, 43);
    z-index: 10;
}
nav {
    height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
}
.logo {
    height: 100%;
    width: auto;
    display: block;
    box-sizing: border-box;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
nav ul li a:hover {
    color: #ff7a59;
    border: 1px solid #ff7a59;
    background:#fff;
}
nav h2 {
    width: 7em;
}
nav a {
    text-decoration: none;
}
.text_box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box h1 {
    font-size: 60px;
    line-height: 85%;
}
.text_box h2 {
    font-size: 27px;
    padding-top: 18px;
}

/* End of homepage */

/* Start of content */

.introductionContent {  
    background: rgb(21, 32, 43);
    text-align: justify;
}
.intro {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-top: 60px;
}
.intro h1 {
    font-size: 1.6rem;
    color: #e5eaee;
    font-weight: 700;
}
.intro p {
    padding-top: 20px;
    color: #e5eaee;
    font-size: 1.2rem;
}
.howToGetThere {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 30px;
}
.howToGetThere h1 {
    color: #e5eaee;
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 40px;
}
.howToGetThere p {
    color: #e5eaee;
    font-size: 1.2rem;
    font-size: 20px;
    padding-top: 20px;
}
.exploreByArea {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 30px;
    padding-top: 10px;
}
.exploreByArea h1 {
    color: #e5eaee;
    font-weight: 700;
    font-size: 1.85rem;
    margin: 0 auto 10px;
}
.nearKyoto {
    display: flex;
    flex-wrap: wrap;
}
.images {
    width: 249px;
    height: 249px;
    margin: 0px 0px;
    background-color: #dfdfdf;
    overflow: hidden;
    margin: 1.16279% 1.16279% 0 0;
    border-radius: 7px;
    position: relative;
}
.nearkyoto_item {
    overflow: hidden;
}
.nearkyoto_item img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nearkyoto_item:hover img {
    transform: scale(1.2);
}
.img_text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 249px;
    height: min-content;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 2px 2px rgb(0 0 0 / 50%);
}
.seasonal_highlights {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 10px;
}
.seasonal_highlights h1 {
    color: #e5eaee;
    font-weight: 700;
    padding-bottom: 30px;
    font-size: 1.85rem;
    border-bottom: 1px solid #dcdcdc;
    margin: 0 auto;
}
.season_content {
    display: flex;
    flex-wrap: wrap;
}
.season_box {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    width: calc(50% - 25px);
    height: 260px;
    padding-right: 15px;
    margin-right: 20px;
    border-bottom: 1px solid #dcdcdc;
    overflow: hidden;
}
.season_box:nth-child(2n) {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    width: calc(50% - 25px);
    margin: 0 0 0 0;
    padding-right: 15px;
    height: 260px;
    border-bottom: 1px solid #dcdcdc;
    overflow: hidden;
}
.season_img img {
    width: 142px;
    height: 230px;
    border-radius: 5px;
}
.season_txt {
    padding-left: 24px;
}
.season_txt h2 {
    font-size: 20px;
    font-weight: 500px;
    color: #e5eaee;
    padding-bottom: 15px;
}
.season_txt p {
    color: #e5eaee;
    font-size: 17px;
    text-align: justify;
}
.footer {
    margin-top: 20px;
    border-top: 1px solid #dcdcdc;
    opacity: 0.60;
}
.footer_text {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 10px;
    color: #e5eaee;
    padding-top: 10px; 
    text-align: center;

}

.footer_text h1 {
    font-size: 15px;
    font-weight: 500;
}
.footer_text p {
    font-size: 13px;
    font-weight: 400;
}
.footer_text a {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: cornflowerblue;
} 
.footer_column{
    display: flex;
    justify-content: center;
}

.footer_name{
    padding: 25px;
}
.footer_text h4 {
    font-size: 15px;
    font-weight: 500;
}
.icon{
    text-align: center;
}
.footer_logo{
    position: relative;
    max-height: 75px;
    max-width: 75px;

}
.footer .icon h4{
    text-decoration: none;
    
}